.choice-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;

    button {
        margin-right: 3px;
        color: white;
    }
}


.words {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    padding-bottom: 4rem;
    // border-top: 1px white solid;

    .word {
        font-size: max(1.2vw, 16px);
        margin: 10px 0;
        text-align: center;
        padding: 0 20px;
    }
}